body {
    padding: 0;
    margin: 0;
    min-width: 1200px;
    font-family: "WorkSans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #151c22;
}

a {
    color: inherit;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}



.main-header-logo {
    padding: 25px 0 20px;
    margin: auto;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.main-header-nav-wrapper {
    display: flex;
}

.site-navigation-item {
    padding: 25px 0;
    margin-left: 35px;
}

.link-item {
    text-decoration: none;
}

.user-navigation-item {
    padding: 20px 0;
    margin-left: 35px;
}

.promo {
    background-color: #f1f2f4;

}

.promo-wrapper {
    display: flex;
}

.promo-text-column {
    width: 520px;
}

.promo-img-column {
    width: 430px;
    padding: 50px 50px;
}

.promo-text {
    font-family: "Anton", sans-serif;
    font-weight: normal;
    font-size: 128px;
    line-height: 188px;
    text-transform: uppercase;
}

.black-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background-color: #151c22;
}

.bestsellers {
    padding: 90px 0 90px 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    padding: 0;
    list-style: none;
}

.catalog-item {
    width: 270px;
    margin: 0 30px 25px 0;
}

.catalog-item-link {
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.new-collection {
    padding-bottom: 90px;
}

.new-collection-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.new-collection-text-column{
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f1f2f4;
}

.new-collection-img {
    width: 700px;
}
.categories {
    padding-bottom: 90px;
}

.main-footer {
    padding: 20px 0 20px 0;
    background-color: #151c22;
}

.main-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-navigation {
    display: flex;
    justify-content: center;
    width: 525px;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    list-style: none;
}

.social {
    display: flex;
    justify-content: center;
    width: 240px;
    padding: 0;
    list-style: none;
    margin: auto;
}

.main-footer-logo {
    padding: 25px 0 25px;
    margin: auto;
}

.footer-navigation-item {
    padding: 20px 15px;
}

.footer-navigation-link {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.social-item {
    padding: 20px 15px;
}

.catalog-header-wrapper {
    background-color: #f1f2f4;
    padding: 70px 0 45px 0;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs-item {
    margin-right: 30px;
}

.catalog-filters {
    text-align: right;
    margin-bottom: 60px;

}

.catalog-list-compact {
    margin-right: -66px;
}

.catalog-item-compact {
    width: 243px;
    margin-bottom: 52px;
    margin-right: 66px;
}

.catalog-slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 155px;
}

.card {
    background-image: linear-gradient(to right, #ffffff 50%, #f1f2f4 50%);
    margin-top: 50px;
}

.card-photos-column {
    width: 600px;
    background-color: #ffffff;
}

.card-description-column {
    width: 570px;
    color: #151c22;
}

.card-photo-full {
    margin-top: 0;
    margin-bottom: 0;
}

.card-photo-preview {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-photo-preview {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
}

.card-photo-preview-item {
    margin-top: 20px;
    margin-right: 20px;
}

.similar {
    padding-top: 90px;
    padding-bottom: 90px;
}

.card-wrapper {
    display: flex;
}